<template>
    <div class="container" style="max-width: 700px;">
        <br>
      <h1 class="has-text-centered is-size-5">Release an Update</h1>
      <br>
      <div class="control">
        <div class="select">
          <select v-model="product" @change="promptProdname">
            <option value="">Select Product</option>
            <option v-for="p in products" v-bind:value="p.sku">{{ p.name }}</option>
            <option value="create" >(+) new product ...</option>
          </select>
        </div>
      </div>
      <div class="" v-if="product">
        
        <div class="field">
          
          <hr class="hr">
          <br>
          <div class="columns">
            <div class="column">
               <div class="control">
                <b-input value="" v-model="release.version" required placeholder="Enter Plugin Version"></b-input>
              </div>
            </div>
            <div class="column">
                &nbsp; 
            </div>

            <br>
           </div>
            <div class="columns">
                <div class="column">
                   <div class="control">
                    <b-input value="" required v-model="release.wp_required" placeholder="WP Required Version"></b-input>
                  </div>
                </div>
                <div class="column">
                    <b-input value="" required v-model="release.wp_tested" placeholder="WP Tested Version"></b-input>
                </div> 
           </div>

            <div class="columns">
                <div class="column">
                    <b-field label="">
                        <b-input v-model="release.changelogs" type="textarea" placeholder="Changelogs"></b-input>
                    </b-field>
                    
                    <div class="button is-success" @click="submit_release">Save changes</div><span> <a href="#" style="margin-left: 20px; margin-top: 5px" @click="clearform">Clear Form</a></span>
                    <div v-if="formerror">
                    <br>
                      <b-message type="is-danger">
                          {{formerror}}
                      </b-message>
                    </div>
                </div>
                <div class="column">
                    <b-field>
                        <b-upload v-model="dropFiles"
                            drag-drop>
                            <section class="section">
                                <div class="content has-text-centered">
                                    <p>
                                        <b-icon
                                            icon="upload"
                                            size="is-large">
                                        </b-icon>
                                    </p>
                                    <p>Upload plugin .zip file</p>
                                </div>
                            </section>
                        </b-upload>
                    </b-field>
                    <div class="tags">
                        <span v-for="(file, index) in dropFiles"
                            :key="index"
                            class="tag is-primary" >
                            {{file.name}}
                            <button class="delete is-small"
                                type="button"
                                @click="deleteDropFile(index)">
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <hr class="hr">
      <div v-if="product">
      <h1 class="has-text-centered is-size-5">Releases</h1>
      <br>
        <div v-if="noreleases"><i>There are currently no released updates.</i></div>
        <table class="table is-fullwidth">
            <tbody>
              <tr v-for="(r,ind) in releases" v-if="r.product == product">
                 <td>{{r.version}}</td> 
                 <td><span class="tag" v-bind:class="release_color(r.status)">{{r.status}}</span></td>
                 <td><span style="font-size: 10pt;">{{r.date}}</span></td>
                 <td> <b-tag rounded><i class="mdi mdi-download"></i> {{r.download}}</b-tag>
                      <b-tag rounded><i class="mdi mdi-autorenew"></i> {{r.autorenew}}</b-tag>
                </td>
                <td width="170" >
                  <a v-bind:href="'/releases/download/' + r.product + '/' + r.version" 
                    class="button is-info is-small" v-if="r.status != 'Queued' && r.status != 'Uploading...'">
                    <i class="mdi mdi-cloud-download" ></i>
                    &nbsp; Download
                  </a>
                  <b-dropdown v-if="r.status != 'Queued' && r.status != 'Uploading...'">
                      <p class="button is-info is-small" slot="trigger">
                          <i class="mdi mdi-dots-vertical"></i>
                      </p>

                      <b-dropdown-item @click="chStatus(r,ind,'stable')">Release as Stable</b-dropdown-item>
                      <b-dropdown-item @click="chStatus(r,ind,'beta')">Release as Beta</b-dropdown-item>
                      <b-dropdown-item @click="chStatus(r,ind,'test')">Release as Test</b-dropdown-item>
                      <b-dropdown-item @click="copyRelease(r)">Copy Release</b-dropdown-item>
                      <b-dropdown-item @click="confirmDelete(r,ind)">Delete Release</b-dropdown-item>
                  </b-dropdown>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="width: 100%; height: 300px;"></div>
        </div>
    </div> 
</template>

<script>
    export default {
        data() {
            return {
                products: [],
                product: '',
                release: {},
                dropFiles: [],
                releases: [],
                formerror: ''

            }
        },
        created() {
          var vm = this;

          axios.get('/products')
            .then( function(response) {
              vm.products = response.data;

              if(response.data[0]) {
                vm.product = response.data[0].sku;
              }
          });

          this.fetch_releases();
        },
        methods: {
            fetch_releases() {
              var vm = this;
              axios.get('/releases')
              .then( function(response) {
                vm.releases = response.data;
              });
            },
            deleteDropFile(index) {
                this.dropFiles.splice(index, 1)
            },
            chStatus(r,ind,status) {
              this.$dialog.confirm({
                    message: 'Are you sure you want to release as test?',
                    onConfirm: () => {
                      var vm = this;
                      r.status = 'Releasing';
                      axios.post('/releases/change_status/' + status + '/' + r.id)
                        .then((response) => {
                          vm.fetch_releases();
                          vm.$toast.open('Release Successfully Updated');
                        });
                    }
                })
            },
            confirmDelete(r,ind) {
              this.$dialog.confirm({
                    message: 'Are you sure you want to delete this release?',
                    onConfirm: () => {
                      var vm = this;
                      axios.delete('releases/' + r.id)
                        .then(function() {
                          vm.fetch_releases();
                          vm.$toast.open('Deleted Release');
                        });
                      
                    }
                })
            },
            promptProdname() {
                if(this.product == 'create') {
                  this.$dialog.prompt({
                      message: `Enter new product name`,
                      onConfirm: (value) => {
                        let product_name = value;
                        if(product_name.indexOf('|') === -1) {
                          var new_product = {
                          name: value,
                            sku: value.replace(/(?:^|\.?)([A-Z])/g, function (x,y){return "_" + y.toLowerCase()}).replace(/^_/, "")
                          }
                        } else {
                          let pr = product_name.split('|');
                          var new_product = {
                            name: pr[0],
                            sku: pr[1]
                          }
                        }

                        
                        this.products.push(new_product);

                        var vm = this;
                        this.product = new_product.sku;

                        axios.post('/products', new_product)
                          .catch( function(error) {
                            vm.$toast.open({
                                  duration: 5000,
                                  message: `Failed to add product. Please try again later.`,
                                  position: 'is-bottom',
                                  type: 'is-danger'
                              })
                          });


                      }
                  });
                }
            },

            submit_release() {
              this.formerror = '';
              let releases = this.releases;
              let release = this.release;

              // validation
              if(!this.product || this.product == 'create') this.formerror = 'Please select a product';
              else if(!release.version) this.formerror = 'Please enter desired plugin version';
              else if(!release.wp_required) this.formerror = 'Please enter required WP Version';
              else if(!release.wp_tested) this.formerror = 'Please enter tested WP Version';
              else if(this.dropFiles.length != 1) this.formerror = 'Please upload a file';



              if(this.formerror) return false;

              release.formdata = new FormData();
              release.product = this.product;
              release.download = '0';
              release.autorenew = '0';

              for(var o in release) {
                release.formdata.append(o, release[o]);
              }


              for( var i = 0; i < this.dropFiles.length; i++ ){
                let file = this.dropFiles[i];
                release.formdata.append('pluginzip', file);
              }

              this.$toast.open('Added Release to Upload Queue');

              release.status = 'Queued';
              this.releases.unshift(release);

              this.release = {};
              this.dropFiles = [];
              this.process_uploads();
            },

            copyRelease(release) {
              this.release = Object.assign({},release);
            },

            process_uploads() {
              for(var i=0; i < this.releases.length; i++) {
                let release = this.releases[i];

                if(release.status == 'Queued') {
                  var vm = this;
                  release.status = 'Uploading...';
                  release.formdata.append('ind',i);

                  axios.post('/releases', 
                    release.formdata,
                    { headers: { 'Content-Type': 'multipart/form-data'}} )
                      .then ( function(response) {
                        vm.releases[response.data.ind] = response.data;
                        vm.$forceUpdate();

                        vm.process_uploads();
                      })
                      .catch( function(error) {
                        vm.$toast.open({
                              duration: 5000,
                              message: `Failed to add release. Please try again later.`,
                              position: 'is-bottom',
                              type: 'is-danger'
                          });
                      });
                }
              }
            },
            clearform() {
              this.release = {};
            },
            release_color(status) {
              let cs = {'is-danger':1};
              switch (status) {
                case 'Pending Release': cs = {'is-warning':1}; break;
                case 'Stable': cs = {'is-success':1}; break;
                case 'Beta': cs = {'is-info':1}; break;
                case 'Test': cs = {'is-light':1}; break;
              }


              return cs;
            }
        },

        computed: {
          noreleases() {
            var no_releases = true;

            for(var i=0; i < this.releases.length; i++) {
              if(this.releases[i]['product'] == this.product) {
                return false;
              }
            }

            return no_releases;
          }
        }
    }
</script>