<template>
    <div class="container" style="max-width: 700px;">
        <br>
      <h1 class="has-text-centered is-size-5">Push a Message</h1>
      <br>
      <div class="control">
        <div class="select">
          <select v-model="subscribe_group" >
            <option value="">Select Subscriber</option>
            <option v-bind:value="s.id" v-for="s in subscriptions">{{s.title}}</option>
            <option value="spec">Send to specific subscriber ...</option>
          </select>
        </div>
        <div class="control" v-show="subscribe_group == 'spec'">
          <br>
          <b-field label="">
              <b-autocomplete
                  v-model="single_subscriber"
                  :data="subscriber_data"
                  placeholder="Search Subscriber ..."
                  field="title"
                  :loading="isFetchingSubscriber"
                  @input="searchSubscribers"
                  @select="option => selected_subscriber = option"
                  v-if="!selected_subscriber">

                  <template slot-scope="props">
                      <div class="media">
                          <div class="media-content">
                              {{ props.option.url }}
                          </div>
                      </div>
                  </template>
              </b-autocomplete>
          </b-field>
          <div v-if="selected_subscriber">
            <b-tag
                size="is-medium"
                attached
                closable
                @close="selected_subscriber = false">
                {{selected_subscriber.url}}
            </b-tag>
            
          </div>
        </div>
      </div>
      <div class="" v-show="subscribe_group  && !(subscribe_group == 'spec' && !selected_subscriber)">
        
        <div class="field">
          
          <hr class="hr">
          <br>
          <div class="columns">
            <div class="column">
               <div class="control">
                <b-input v-model="pushform.push_title"  required placeholder="Push Title"></b-input>
              </div>
            </div>
            <div class="column">
                &nbsp; 
            </div>

            <br>
           </div>
            <div class="columns">
                <div class="column">
                   <div class="control">
                    <b-input v-model="pushform.type" required placeholder="Push Type"></b-input>
                  </div>
                </div>
                <div class="column">
                    <b-input v-model="pushform.meta1" required placeholder="Add Meta Line"></b-input>
                </div> 
           </div>

            <div class="columns">
                <div class="column">
                    <b-field label="">
                        <b-input type="textarea" v-model="pushform.msg" placeholder="Message"></b-input>
                    </b-field>
                    <b-field label="">
                        <b-select placeholder="When to Push" v-model="pushform.when">
                            <option value="">When to Push ...</option>
                            <option value="now">Push Immediately</option>
                            <option value="later">Select a date</option>
                        </b-select>
                    </b-field>
                    <br>
                    <div class="button is-success" @click="submit_push">Push new Message</div><span> <a href="#" style="margin-left: 20px; margin-top: 5px" @click="clearform">Clear Form</a></span>
                    <div v-if="formerror">
                    <br>
                      <b-message type="is-danger">
                          {{formerror}}
                      </b-message>
                    </div>
                    
                </div>
                <div class="column">
                    <b-field label="">
                        <b-input v-model="pushform.meta3" type="textarea" placeholder="Add Meta Block"></b-input>
                    </b-field>
                     <b-field label="" v-if="pushform.when == 'later'">
                        <b-datepicker v-model="pushform.whendate"
                            placeholder="Type or select a date..."
                            icon="calendar-today"
                            :readonly="false">
                        </b-datepicker>
                    </b-field>
                </div>
            </div>
        </div>
      </div>

      <hr class="hr">
      <div >
      <h1 class="has-text-centered is-size-5">History</h1>
      <br>
        <div v-if="!history"><i>There are currently no released updates.</i></div>
        <div>
          <article class="media" v-for="(r,ind) in history">
            <figure class="media-left">
              <b-icon v-if="r.type == 'pluginupdate'"
                  icon="package-variant"
                  size="is-large">
              </b-icon>
              <b-icon v-if="r.type != 'pluginupdate'"
                  icon="send"
                  size="is-large">
              </b-icon>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                      <b>{{r.push_title}}</b>&nbsp;&nbsp;
                      <b-tag v-if="r.status == 'Scheduled'" rounded>Scheduled</b-tag>
                      <b-tag v-if="r.pushed" rounded type="is-success"><i class="mdi mdi-check" ></i> {{r.pushed}}</b-tag>
                      <b-tag rounded type="is-danger" v-if="r.error"><i class="mdi mdi-close"></i> {{r.error}}</b-tag>
                      <small></small>
                    <br>
                    <div style="padding: 5px 0; font-size: 10pt;">
                      <span v-if="!r.msg"><i>No particular message sent.</i></span>
                      <span>{{r.msg}}</span>
                    </div>
                    <br>
                    <b-taglist attached>
                          <b-tag type="is-dark" v-if="r.sent_to">{{r.sent_to}}</b-tag>
                          <b-tag type="is-primary">{{r.type}}</b-tag>
                          <span class="tag" v-bind:class="release_color(r.status)">{{r.status}}</span>
                      </b-taglist> 
                    
                    <small> <a @click="copyPush(r)">Copy</a> ・
                            &nbsp;&nbsp;<span style="font-size: 9pt; color: #777" v-if="r.status == 'Pending Release' && progress_watch['push_' + r.id]">{{progress_watch['push_' + r.id]}}%</span>
                    <span v-if="r.status != 'Pending Release'">{{r.push_date}}</span>
                    </small>

                </p>
              </div>
              
            </div>
            <div class="media-right">

              <button class="delete" @click="confirmDelete(r,ind)"></button>
            </div>

          </article>
        </div>


        
          <div style="width: 100%; height: 300px;"></div>
        </div>
    </div> 
</template>

<script>
    var debounce = require('lodash.debounce');

    export default {
        data() {
            return {
                isFetchingSubscriber: false,
                data: [],
                subscriber_name: '',
                selected_subscriber: null,
                subscribe_group: '',
                subscriber_data: [],
                single_subscriber: '',
                subscriptions: [],
                pushform: {},

                products: [],
                product: '',
                release: {},
                dropFiles: [],
                releases: [],
                formerror: '',
                history: [],
                tasks: [],
                progress_watch: {},
                was_push_pending: false

            }
        },
        created() {
          var vm = this;

          axios.get('/subscriptions')
            .then( function(response) {
              vm.subscriptions = response.data;
          });

          vm.fetch_tasks();

          setInterval(function () {
            vm.fetch_tasks();
          }, 10000);

          this.fetch_push_msgs();
        },
        methods: {
            searchSubscribers: debounce(function() {
              this.subscriber_data = [];
              this.isFetchingSubscriber = true;

              var vm = this;

              axios.get('/search_subscriber?term=' + this.single_subscriber).then(({data}) => {
                  data.forEach((item) => vm.subscriber_data.push(item));
                  vm.isFetching = false;
              });
            },500),

            fetch_push_msgs() {
              var vm = this;
              axios.get('/push_msgs')
              .then( function(response) {
                vm.history = response.data;
              });
            },
            fetch_tasks() {
              var vm = this;
              axios.get('/task_queue')
              .then( function(response) {
                vm.tasks = response.data;
              });
            },
            chStatus(r,ind,status) {
              this.$dialog.confirm({
                    message: 'Are you sure you want to release as test?',
                    onConfirm: () => {
                      var vm = this;
                      r.status = 'Releasing';
                      axios.post('/releases/change_status/' + status + '/' + r.id)
                        .then((response) => {
                          vm.fetch_releases();
                          vm.$toast.open('Release Successfully Updated');
                        });
                    }
                })
            },
            confirmDelete(r,ind) {
              this.$dialog.confirm({
                    message: 'Are you sure you want to delete this push notice?',
                    onConfirm: () => {
                      var vm = this;
                      axios.delete('releases/' + r.id)
                        .then(function() {
                          vm.fetch_push_msgs();
                          vm.$toast.open('Deleted Push Notice');
                        });
                      
                    }
                })
            },
            promptProdname() {
                if(this.product == 'create') {
                  this.$dialog.prompt({
                      message: `Enter new product name`,
                      onConfirm: (value) => {
                        let product_name = value;
                        if(product_name.indexOf('|') === -1) {
                          var new_product = {
                          name: value,
                            sku: value.replace(/(?:^|\.?)([A-Z])/g, function (x,y){return "_" + y.toLowerCase()}).replace(/^_/, "")
                          }
                        } else {
                          let pr = product_name.split('|');
                          var new_product = {
                            name: pr[0],
                            sku: pr[1]
                          }
                        }

                        
                        this.products.push(new_product);

                        var vm = this;
                        this.product = new_product.sku;

                        axios.post('/products', new_product)
                          .catch( function(error) {
                            vm.$toast.open({
                                  duration: 5000,
                                  message: `Failed to add product. Please try again later.`,
                                  position: 'is-bottom',
                                  type: 'is-danger'
                              })
                          });


                      }
                  });
                }
            },

            submit_push() {
              this.formerror = '';

              // validation
              if(!this.pushform.push_title) this.formerror = 'Please enter a push title';
              else if(!this.pushform.type) this.formerror = 'Please enter push type';
              else if(!this.pushform.when) this.formerror = 'Please enter push schedule';
              else if(this.pushform.when == 'later' && !this.pushform.whendate ) this.formerror = 'Please enter push schedule date';
              if(this.formerror) return false;

              this.$toast.open('New Push Task Queued. See status below.');
              var vm = this;
              let submit = Object.assign({}, this.pushform);
              submit.subscriber = this.subscribe_group;
              this.pushform = {};

              if(this.selected_subscriber)
                submit.subscriber_id = this.selected_subscriber.id;

              axios.post('/push_notice', submit)
                .then(function(response) {
                  vm.fetch_push_msgs()
                });
            },

            copyPush(p) {
              this.pushform = Object.assign({},p);
            },

            process_uploads() {
              for(var i=0; i < this.releases.length; i++) {
                let release = this.releases[i];

                if(release.status == 'Queued') {
                  var vm = this;
                  release.status = 'Uploading...';
                  release.formdata.append('ind',i);

                  axios.post('/releases', 
                    release.formdata,
                    { headers: { 'Content-Type': 'multipart/form-data'}} )
                      .then ( function(response) {
                        vm.releases[response.data.ind] = response.data;
                        vm.$forceUpdate();

                        vm.process_uploads();
                      })
                      .catch( function(error) {
                        vm.$toast.open({
                              duration: 5000,
                              message: `Failed to add release. Please try again later.`,
                              position: 'is-bottom',
                              type: 'is-danger'
                          });
                      });
                }
              }
            },
            clearform() {
              this.pushform = {};
            },
            release_color(status) {
              let cs = {'is-danger':1};
              switch (status) {
                case 'Pending Release': cs = {'is-warning':1}; break;
                case 'Scheduled': cs = {'is-info':1}; break;
                case 'Beta': cs = {'is-info':1}; break;
                case 'Test': cs = {'is-light':1}; break;
                default: cs = {'is-success':1}; break;
              }


              return cs;
            }
        },

        computed: {
          noreleases() {
            var no_releases = true;

            for(var i=0; i < this.releases.length; i++) {
              if(this.releases[i]['product'] == this.product) {
                return false;
              }
            }

            return no_releases;
          }
        },
        watch: {
          tasks: function(tasks)  {
            tasks.forEach(task => {
              let pr = false;

              if(task.task == "App\\Tasks\\ProcessPushNotices") {
                this.progress_watch['push_' + task.data.id] = task.data.percent ?  task.data.percent : 0;
                if(task.status == 'done') pr = true;
                else this.was_push_pending = true;
              }

              if(pr && this.was_push_pending) {
                this.fetch_push_msgs();
              }
            }); 
          }
        }
    }
</script>